body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,button,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
input,button,fieldset,img { border:0; }
address,caption,cite,code,dfn,em,var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }

@font-face {
    font-family: 'Helvetica Neue Condensed Bold';
    src: url('../fonts/helveticaneue-condensedbold-webfont.eot');
    src: url('../fonts/helveticaneue-condensedbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-condensedbold-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-condensedbold-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-condensedbold-webfont.svg#HelveticaNeueCondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-bold-webfont.eot');
    src: url('../fonts/helveticaneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-bold-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-bold-webfont.svg#HelveticaNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-light-webfont.eot');
    src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-light-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-light-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneue-light-webfont.svg#HelveticaNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Rockwell;
    src: url('../fonts/rockwellstd-webfont.eot');
    src: url('../fonts/rockwellstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwellstd-webfont.woff') format('woff'),
         url('../fonts/rockwellstd-webfont.ttf') format('truetype'),
         url('../fonts/rockwellstd-webfont.svg#RockwellStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	overflow-y: scroll;
}

body {
	background: #f8f3cf url('../images/gradient.png') repeat-x left top;
	color: #000000;
	font-family: Arial,Tahoma,sans-serif;
	font-size: 12px;
	line-height: 1.8;
	text-align: center;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;	
	height: 0;
	visibility: hidden;
}
* html .clearfix { zoom: 1; }
*:first-child+html .clearfix { zoom: 1; }

.clr { clear: both; height: 0; line-height: 0; font-size: 0; overflow: hidden; }

a { color: #999999; text-decoration: none; outline: none; /*text-shadow: 1px 1px 1px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1);*/ }
a:hover { color: #666666; /*text-decoration: underline;*/ }
.relink, .relink a { text-decoration: underline; }
.relink:hover, .relink a:hover { text-decoration: none; }

.link { color: #099de3; cursor: pointer; }
.link:hover { text-decoration: underline; }
.fleft { float: left; }
.fright { float: right; }
.erase { font-size: 0; line-height: 0; }
.linline { display: inline; float: left; /*overflow: hidden;*/ }
.rinline { display: inline; float: right; /*overflow: hidden;*/ }

input,button,textarea,select { font: normal 12px Arial,Tahoma,sans-serif; }

#wrap {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	top: -15px;
}

#wrap_merch {
	width: 690px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	top: -15px;
}

.wrap { /*padding-bottom: 20px;*/ }

#bodyContent {
	padding: 20px 30px 30px 30px;
	background-color: white;
	-webkit-box-shadow: 0 1px 12px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 12px rgba(0,0,0,.15);
	box-shadow: 0 1px 12px rgba(0,0,0,.15);
	margin-bottom: 15px;
}

#bodyContent_merch {
	padding: 20px 30px 30px 30px;
	background-color: white;
	-webkit-box-shadow: 0 1px 12px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 12px rgba(0,0,0,.15);
	box-shadow: 0 1px 12px rgba(0,0,0,.15);
	margin-bottom: 15px;
	/*position: relative;
	top: -10px;*/
}

/* header */

#header { padding-top: 0px; }
#logo a { background: url(../images/logo_new.png) no-repeat 0 0; display: block; height: 145px; text-indent: -9999px; width: 222px; position: relative; top: 15px; }
#logo a:hover { /*opacity: 0.8;*/ }
#logo_merch a { background: url(../images/logo_merch_gradient.png) no-repeat 0 0; display: block; height: 94px; text-indent: -9999px; width: 144px; position: relative; top: 15px; }
#header .rinline {
	padding: 20px 22px 0 0;
	font-family: Rockwell, Arial, Tahoma, sans-serif;
	font-size: 120%;
	color: #999999;
	position: relative;
	top: 10px;
}
#header .rinline_merch {
	padding: 20px 20px 0 0;
	font-family: Rockwell, Arial, Tahoma, sans-serif;
	font-size: 120%;
	color: #999999;
	display: inline;
	float: right;
	position: relative;
	top: 10px;
}

/* tab navigation */


.navigation { background: rgba(255,255,255,0.5); border-radius: 10px 10px 0 0; height: 40px; margin: 0 159px; -moz-box-shadow: inset 0 -10px 10px rgba(0,0,0,0.03); -webkit-box-shadow: inset 0 -10px 10px rgba(0,0,0,0.03); box-shadow: inset 0 -10px 10px rgba(0,0,0,0.03);}
.navigation ul { height: 40px; }
.navigation li { display: inline; float: left; height: 40px; line-height: 40px; }
.navigation li.last { background: none; }
.navigation li a.current {background: #fff; height: 45px; margin-top: -5px; margin-left: -1px; padding-right: 1px; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -webkit-box-shadow: 0 1px 12px rgba(0,0,0,.15); -moz-box-shadow: 0 1px 12px rgba(0,0,0,.15); box-shadow: 0 1px 12px rgba(0,0,0,.15); }
.navigation a { color: #7f8184; display: inline; float: left; overflow: hidden; }
.navigation a:hover { text-decoration: none; }
.navigation span { display: block; }
.navigation span.i { font-size: 16px; font-weight: bold; padding: 0 22px; text-transform: uppercase; }
.navigation b { position: relative; top: 2px; }

.navigation a:hover,
.navigation a.active {  }
.navigation a:hover span,
.navigation a.active span {  }
.navigation a.first:hover span,
.navigation a.active_first:hover span { background-position: 0 -160px; }
.navigation a:hover span.i,
.navigation a.active span.i {  }
.navigation a:hover b,
.navigation a.active b { top: 2px; }

.navigation_merch { background: rgba(255,255,255,0.5); border-radius: 10px 10px 0 0; height: 40px; margin: 0 0 0 300px; -moz-box-shadow: inset 0 -10px 10px rgba(0,0,0,0.03); -webkit-box-shadow: inset 0 -10px 10px rgba(0,0,0,0.03); box-shadow: inset 0 -10px 10px rgba(0,0,0,0.03); /*position: relative; top: -10px;*/ }
.navigation_merch ul { height: 40px; }
.navigation_merch li { display: inline; float: left; height: 40px; line-height: 40px; }
.navigation_merch li.last { background: none; }
.navigation_merch li a.current {background: #fff; height: 45px; margin-top: -5px; margin-left: -1px; padding-right: 1px; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -webkit-box-shadow: 0 1px 12px rgba(0,0,0,.15); -moz-box-shadow: 0 1px 12px rgba(0,0,0,.15); box-shadow: 0 1px 12px rgba(0,0,0,.15); }
.navigation_merch a { color: #7f8184; display: inline; float: left; overflow: hidden; }
.navigation_merch a:hover { text-decoration: none; }
.navigation_merch span { display: block; }
.navigation_merch span.i { font-size: 16px; font-weight: bold; padding: 0 4px; text-transform: uppercase; }
.navigation_merch b { position: relative; top: 2px; }
.navigation_merch span.i b {
	padding: 15.8px;
}

.navigation_merch a:hover,
.navigation_merch a.active {  }
.navigation_merch a:hover span,
.navigation_merch a.active span {  }
.navigation_merch a.first:hover span,
.navigation_merch a.active_first:hover span { background-position: 0 -160px; }
.navigation_merch a:hover span.i,
.navigation_merch a.active span.i {  }
.navigation_merch a:hover b,
.navigation_merch a.active b { top: 2px; }

.navigation_merch a.current { color: #00adee; }
.navigation_merch a.current span {  }
.navigation_merch a.current span.i {  }
.navigation_merch a.current b { top: 6px; }.navigation { margin: 0 0 0 210px !important; }
.navigation_merch .lower b { text-transform: uppercase !important; }
.navigation_merch li {
	background: url(../images/dotted.png) right no-repeat;
}

div.line { background: url(../images/table_line.png) no-repeat 50% 50%; font-size: 0; height: 1px; line-height: 0; padding: 0; }

.plain { overflow: hidden; }

div#wrapper-outer {
	background: url(../images/b-merchant-bg-bottom.png) no-repeat 50% 100%;
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

div#wrapper-inner {
	background: url(../images/b-merchant-bg.png) repeat-y 0 0;
	width: auto;
}

/* #trans_wrap { padding: 0 30px; } */

.custom_report { text-align: right; }

.custom_button { background: url(../images/button.png) no-repeat 0 0; color: #333333; font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif; display: inline-block; font-size: 110%; /*font-weight: bold;*/ height: 24px; line-height: 24px; }
.custom_button span { background: url(../images/button.png) no-repeat 100% -24px; cursor: pointer; display: inline-block; height: 24px; line-height: 24px; padding: 0 12px; }
.custom_button img { /*vertical-align: text-top;*/ }
.custom_button a { color: #000000; }
.custom_button input { background: none; cursor: pointer; font-size: 100%; overflow: visible; width: auto; font-family: 'Helvetica Neue', Tahoma, Arial, sans-serif; }
.custom_button:hover,
.custom_button input:hover,
.custom_button a:hover { text-decoration: none; }

.custom_report .custom_button { margin-left: 10px; position: relative; top: 0px; }
.custom_button_blue { background: url(../images/trans_buttons.gif) no-repeat 0 -28px; height: 15px; line-height: 15px; }
.custom_button_blue span { background: url(../images/trans_buttons.gif) no-repeat 100% -43px; height: 15px; line-height: 15px; }

/* misc */

#bg-layer { display: none; position: fixed; left: 0; top: 0; z-index: 800; }

.navigation a.current { color: #00adee; }
.navigation a.current span {  }
.navigation a.current span.i {  }
.navigation a.current b { top: 6px; }.navigation { margin: 0 0 0 257px !important; }
.navigation .lower b { text-transform: uppercase !important; }

#summaryPieChart {
	width: 291px;
	float: right;
}

#summaryAccountTable {
	width: 578px;
}

#summaryTransactionTable {
	width: 900px;
	clear: both;
}

#summaryTransactionTable h2 {
	padding-top: 25px;
}

h1 {
	font-family: "Helvetica Neue";
	font-weight: 300;
	font-size: 350%;
	color: #333333;
	line-height: 1em;
	margin-bottom: 30px;
}

h1#logo {
	margin: 0;
}

h1#logo_merch {
	margin: 0;
}

h2 {
	font-family: "Helvetica Neue";
	font-weight: bold;
	font-size: 140%;
	color: #333333;
	margin-bottom: 10px;
}

h2.subhead {
	padding-top: 15px;
}

h3 {
	font-family: "Helvetica Neue";
	font-weight: bold;
	font-size: 120%;
	color: #444444;
	margin: 10px 0 5px;
}

#h_navigation span.i b {
    font-family: 'Helvetica Neue Condensed Bold', Arial, Tahoma, sans-serif;
    font-size: 120%;
}

#h_navigation span.i b:hover {
    color: #00ADEE;
}

#loggedout-header {
	height: 45px;
}

.navigation li {
	background: url(../images/dotted.png) right no-repeat;
}

span.i:last-child {
	/*background: none;*/
}

.footer_link {
	font-family: Rockwell, Arial, Tahoma, sans-serif;
}

#footer_nav {
	margin: 5px 0;
	color: #999999;
	font-size: 100%;
	text-align: center;
}

#footer_nav2 {
	margin: 5px 0;
	color: #999999;
	font-size: 90%;
	text-align: center;
}

#footer_merch {
	/*position: relative;
	top: -10px;*/
}

.bold {
	font-weight: bold;
}

.row-highli {
	color: #333333 !important;
}

.hoverButton {
	background: url(../images/arrow_active.png) no-repeat;
	display: block;
	height: 24px;
	line-height: 24px;
	margin: 0 auto;
	text-indent: -9999px;
	width: 24px;
}

#header-left {
	width: 460px;
	float: left;
}

#header-left-merch {
	width: auto;
	float: left;
}

#white {
	height: 10px;
	background-color: white;
	width: 930px;
	overflow: hidden;
	z-index: 5;
	position: relative;
	top: -20px;
}

#white_merch {
	height: 10px;
	background-color: white;
	width: 660px;
	overflow: hidden;
	z-index: 5;
	position: relative;
	top: -20px;
}

.clear {
	clear: both;
}

#f_copyright {
	padding-bottom: 15px;
	font-family: Rockwell, Arial, Tahoma, sans-serif;
}

li.bullet {
	padding-left: 10px;
}

#util-sub-nav {
	float: right;
	margin: 0;
	color: #999999;
	font-size: 120%;
	margin-bottom: 20px;
}

p, li.bullet {
	font-family: Rockwell, Arial, Tahoma, sans-serif;
	font-size: 120%;
	color: #666666;
}

input[type="text"],
input[type="password"] {
width: 100%;
max-width: 300px;
display: block;
height: 3em;
padding: 0 .7em;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
border: 1px solid #ccc;
}

tr#select-category input[type='checkbox'] {
	margin-right: 5px;
}

tr#select-category p {
	font-size: 100%;
	font-family: 'Helvetica Neue', Arial, Tahoma, sans-serif;
	line-height: 1.7;
}

.error p {
	color: #d2232a;
	font-size: 1em;
}

#footer_block2 {
	font-size: 16px;
}

textarea#message-text {
	width: 300px;
	height: 80px;
	resize: none;
	display: block;
	padding: .7em;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #ccc;
}