.custom_report .linline { padding-left: 50px; }

div.account_info h2 { color: #44c7f5; font-size: 12px; font-weight: bold; letter-spacing: -1px; padding: 2px 0 2px 90px; text-transform: uppercase; }
div.account_info h3 { color: #44c7f5; font-size: 40px; letter-spacing: -1px; line-height: 40px; padding: 10px 0 10px 90px; text-transform: uppercase; }

table.account_info { width: 100%; }
table.account_info td { color: #666666; font-family: 'Helvetica Neue', Arial, Tahoma, sans-serif; font-size: 110%; padding: 10px; text-align: left; }
table.account_info td.right { color: #999999; font-family: 'Rockwell', Arial, Tahoma, sans-serif; font-size: 120%; text-align: right; width: 220px; }

table.account_info .dotted_line td { background: url(../images/trans_dotted_line.gif) repeat-x 0 50%; font-size: 0; line-height: 0; height: 20px; }

/* transaction table */

#trans_wrap { padding: 0 70px; }

#transaction_list { /*table-layout: fixed;*/ background: #e5f3f8 url(../images/trans_top_bg.gif) repeat-x 0 0; font: normal 12px Arial,Tahoma,sans-serif; width: 100%; }
#transaction_list th { background: url(../images/trans_th_bg.png) repeat-x 100% 0; border-right: 1px dotted white; color: white; font-size: 105%; letter-spacing: 0px; padding: 6px 3px; text-align: center; text-transform: uppercase; white-space: nowrap; word-wrap: break-word; }
#transaction_list th a { color: white; }
#transaction_list th.sort { /*background: #ffffff;*/ background-image: url(../images/trans_th_bg_selected.png); text-align: center; }
#transaction_list th.sort img { display: none; vertical-align: text-bottom; }
#transaction_list th.ann { white-space: normal; }
#transaction_list .ann { text-overflow: ellipsis; white-space: nowrap; word-wrap: break-word; }
#transaction_list .ann span { display: inline; }
.annw { position: relative; padding-right: 10px; }
.annw .data-4 { display: block; overflow: hidden; width: auto; }
#transaction_list .add { width: 23px !important; }
#transaction_list .flag { text-align: left; }
#transaction_list .bold { font-weight: bold; }
#transaction_list .highlight { color: black; }
#transaction_list .bold .data-6 { font-size: 80%; }
#transaction_list td { /*background: #e1f4fd url(../images/trans_td_bg.gif) repeat-y 100% 0;*/ border-right: 1px dotted white; color: #666666; font-size: 100%; padding: 0 1px; text-align: center; vertical-align: middle; white-space: nowrap; }
#transaction_list .end { background: #c7eafb; border-top: 1px solid #dcf2fd; padding: 5px 10px; text-align: right; }
#transaction_list .line { background: url(../images/table_line.png) no-repeat 50% 50%; font-size: 0; height: 1px; line-height: 0; padding: 0; }

#transaction_list td input { margin: 0 10px 2px 10px; vertical-align: text-bottom; }

#transaction_list a.view_rec { background: url(../images/arrow_inactive.png) no-repeat; display: block; height: 24px; line-height: 24px; margin: 0 auto; text-indent: -9999px; width: 24px; }
#transaction_list span.add_annotation { background: url(../images/icon_plus.png) no-repeat; cursor: pointer; display: block; height: 13px; line-height: 13px; /*margin: 0 auto; position: absolute; right: 8px; bottom: 5px;*/ text-indent: -9999px; width: 13px; float: right; }

#transaction_list .even td { background-color: #bae8f6; /*padding: 7px 1px 0 1px;*/ }
#transaction_list .even td a.view_rec { position: relative; top: -2px; }

#transaction_list .trans-receipts-row td.trans-col { background-color: white; height: 0px; font-size: 0; line-height: 0; padding: 0 !important; height: 0 !important; overflow: auto; text-align: left !important; }
#transaction_list .trans-receipts-row .trans-receipts { display: none; font-size: 12px; line-height: 18px; padding: 5px; }

#transaction_list tr.trans-receipts-row {
height: 0;}



.receipt_item { -moz-box-shadow: 5px 5px 15px #999999; -webkit-box-shadow: 5px 5px 15px #999999; box-shadow: 5px 5px 15px #999999; margin: 20px; width: 150px; }
.receipt_item td,
.receipt_item td.even { background: none !important; line-height: 14px !important; padding: 0 8px !important; text-align: left !important; white-space: normal !important; }
.receipt_item td .add_annotation { margin: 0 !important; position: static !important; }
.receipt_item td.right { text-align: right !important; }
.receipt_item td.title { text-align: center !important; }
.receipt_item td.recann { padding: 5px 8px !important; }

#annotation_field { position: absolute; display: none; height: 36px; width: 265px; z-index: 999; }
#annotation_field input { background: #ffffff; border: 1px solid #e7e6e6; height: 34px; line-height: 34px; padding: 0 9px; width: 245px; }

#transaction_list th.date { min-width: 110px; width: 110px; }
#transaction_list th.trans { min-width: 60px; width: 60px; }
#transaction_list th.time { min-width: 50px; width: 50px; }
#transaction_list th.merch { min-width: 100px; width: 110px; }
#transaction_list th.status { min-width: 60px; width: 60px; }
#transaction_list th.amount { min-width: 60px; width: 60px; }
#transaction_list th.account { min-width: 80px; width: 80px; }
#transaction_list th.flag { text-align: center; min-width: 30px; max-width: 30px; width: 30px; }
#transaction_list th.view, #transaction_list td.view { /*background-image: none;*/ min-width: 40px; max-width: 40px; width: 40px; }

#transaction_list tr {
	height: 41px;
}

#transaction_list tr.disabled {
	height: 0;
}

.button_above {
	float: right;
	margin-bottom: 10px;
}

.button_below {
	float: right;
	margin-top: 10px;
}