#accounts_list { /*table-layout: fixed;*/ background: #e5f3f8 url(../images/trans_top_bg.gif) repeat-x 0 0; font: normal 12px Arial,Tahoma,sans-serif; width: 100%; }
#accounts_list th { background: url(../images/trans_th_bg.png) repeat-x 100% 0; border-right: 1px dotted white; color: white; font-size: 105%; letter-spacing: 0px; padding: 6px 3px; text-align: center; text-transform: uppercase; white-space: nowrap; word-wrap: break-word; }
#accounts_list th.sort { /*background: #ffffff;*/ background-image: url(../images/trans_th_bg_selected.png); text-align: center; }
#accounts_list th.sort img { display: none; vertical-align: text-bottom; }
#accounts_list th.sort img#flag-img { display: inline; }
#accounts_list .add { width: 23px !important; }
#accounts_list .flag { text-align: left; }
#accounts_list .highlight { color: black; }
#accounts_list td { /*background: #e5f3f8 url(../images/trans_td_bg.gif) repeat-y 100% 0;*/ border-right: 1px dotted white; color: #666666; font-size: 100%; padding: 0 1px; text-align: center; vertical-align: middle; white-space: nowrap; }
#accounts_list .end { background: #c7eafb; border-top: 1px solid #dcf2fd; padding: 5px 10px; text-align: right; }
#accounts_list .line { background: url(../images/table_line.png) no-repeat 50% 50%; font-size: 0; height: 1px; line-height: 0; padding: 0; }

#accounts_list td.chbox input { vertical-align: text-bottom; }

#accounts_list a.view_rec { background: url(../images/arrow_inactive.png) no-repeat; display: block; height: 24px; line-height: 24px; margin: 0 auto; text-indent: -9999px; width: 24px; }

#accounts_list .even td { background-color: #bae8f6; /*padding: 7px 1px 0 1px;*/ }

#accounts_list .disabled td { background: url(../images/trans_disabled_bg.gif) repeat-x 0 0; font-size: 0; height: 1px; line-height: 0; overflow: hidden; }
#accounts_list a.view_rec_disabled { background-image: url(../images/arrow_disabled.png) !important; }

.custom_report .linline { padding-left: 50px; }

/* strict values
#accounts_list { table-layout: fixed; }
#accounts_list th.chbox { min-width: 30px; width: 30px; }
#accounts_list th.nick { min-width: 110px; width: 110px; }
#accounts_list th.acc {  }
#accounts_list th.expiery { min-width: 50px; width: 50px; }
#accounts_list th.status { min-width: 70px; width: 70px; }
#accounts_list th.activity { min-width: 90px; width: 90px; }
#accounts_list th.amount { min-width: 60px; width: 60px; }
#accounts_list th.funds { min-width: 100px; width: 100px; }
*/

#accounts_list th.chbox { /*background: #ffffff;*/ min-width: 30px; max-width: 30px; width: 30px; }
#accounts_list th.flag { text-align: center; min-width: 30px; max-width: 30px; width: 30px; }
#accounts_list th.view, #transaction_list td.view { /*background-image: none;*/ min-width: 40px; max-width: 40px; width: 40px; }

#accounts_list tr {
	height: 41px;
}

#accounts_list tr.disabled {
	height: 0;
}