div.payment { /*padding: 10px 0 10px 150px;*/ }
table.status { /*padding: 10px 0 10px 100px;*/ }
div.status { /*padding: 10px 0 10px 100px;*/ }
ol.instructions { /*padding: 10px 0 10px 100px;*/ }
div.payment h2 { color: #44c7f5; font-size: 40px; letter-spacing: -1px; line-height: 35px; padding: 10px 0; }
h3 { color: #44c7f5; font-size: 40px; letter-spacing: -1px; line-height: 40px; padding: 10px 0 10px 0px; text-transform: uppercase; }


.custom_report .linline { padding-left: 50px; }

div.payment h2 { color: #44c7f5; font-size: 12px; font-weight: bold; letter-spacing: -1px; padding: 2px 0 2px 90px; text-transform: uppercase; }
div.payment h3 { color: #44c7f5; font-size: 30px; letter-spacing: -1px; line-height: 30px; padding: 10px 0 10px 0px; text-transform: uppercase; }
div.payment h3 small { font-size: 50%; }

/*table.payment { width: 100%; }*/
table.payment td { color: #a7a9ac; padding: 3px 0; text-align: left; /*padding-left: 100px;*/}
table.payment td.right { text-align: right; width: 120px; padding-left: 10px;}

table.payment .dotted_line td { background: url(../images/trans_dotted_line.gif) repeat-x 0 50%; font-size: 0; line-height: 0; height: 20px; }

table.payment select { -webkit-border-radius: 3px; -moz-border-radius: 5px; border-radius: 3px; -moz-box-shadow: -4px 4px 15px #999999; -webkit-box-shadow: 5px 5px 15px #999999; box-shadow: 5px 5px 15px #999999; background: #ffffff; border: 1px solid #a7a9ac; color: #232323; height: 33px; line-height: 33px; padding: 5px 2px; width: 186px; }
table.payment select:focus { border: 1px solid #5189dd; }
table.payment select.error { border: 1px solid #ec3957; }
table.payment option { }

table.payment .input { /*-webkit-border-radius: 3px; -moz-border-radius: 5px; border-radius: 3px; -moz-box-shadow: -4px 4px 15px #999999; -webkit-box-shadow: 5px 5px 15px #999999; box-shadow: 5px 5px 15px #999999; background: #ffffff; border: 1px solid #a7a9ac; color: #232323; height: 20px; line-height: 20px; padding: 5px 2px; width: 180px;*/ width: 200px; }
table.payment .input:focus { border: 1px solid #5189dd; }
table.payment .input.error { border: 1px solid #ec3957; }
table.payment use_profile td { padding: 0 10px !important; }

.select select { width: 60px !important; }

.actions { text-align: right; }
.custom_button a:hover { text-decoration: none; }

input.disabled { color: #555; background: #999; border-color: #aaa; text-shadow: 0 1px 0 #ccc; }
input:disabled{ color: #555; background: #999; border-color: #aaa; text-shadow: 0 1px 0 #ccc; }

#instructions strong {
	/*font-weight: normal;
	color: black;*/
}

#instructions {
	padding-bottom: 15px;
}

table#payment-table td {
	color: #666;
	padding: 5px 10px;
}

table#payment-table td.right {
	text-align: right;
	width: 120px;
	padding-left: 10px;
}