.button
{
	background: #01b0ef;
	border: 1px outset #CDDDED;
	padding: 6px;
	/*margin: 10px 0;*/
	color: #fff;
	text-shadow: 0px -1px 0 #447;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	margin-top: 15px;
	margin-right: 15px;
}

.cancel { background: #f33 !important; }

.cancel-table {padding: 2px 0 2px -1px;}

table.status td.right, table.payment td.right {
	color: #999;
	font-family: 'Rockwell', Arial, Tahoma, sans-serif;
	font-size: 120%;
	text-align: right;
	width: 220px;
}